/* Site Colors:
  #e03e52 - pink
  #c8ced2 - grey
  #f07b27 - orange
  #786758 - brown
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.overall-wrapper{
  height: 100vh;
  overflow: auto;
}

aside {
    width: 200px;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #999;
    overflow-x: hidden;
    padding-top: 16px;
  }
  .aside-show {
    display: block;
    left: 0;
    width: 60%;
    z-index: 2;
    transition: 5s all;
  }
  
aside a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: .3s background;
  }
  
aside a:hover {
    background-color: #fff;
    color: #444;
    text-decoration: none;
  }
.active{
    background-color: #fff;
    color: #444;
}
main {
  margin-left: 200px;
}
main .top-head{
    background-color: #999;
    color: 444;
}
.top-head h1 {
  font-family: 'Montserrat', sans-serif;
}
main .user-image{
  width: 50px;
  height: 50px;
}
main .user-detail {
  min-height: 100vh;
  background-color: #eee;
  border-radius: 0px;
}
.user-detail .current-banlance h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
.footer{
  z-index: 0;
  background-color: #eee;
  color: #666;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.user-menu .card {
  box-shadow: 0 0 5px #000;
  transition: .3s transform;
}
.user-menu .card:hover {
  box-shadow: 0 0 8px #000;
  transform: scale(1.1);
}
.user-menu .card button {
  background-color: #eee;
  color: #333;
  border: 1px solid #444;
  outline: none;
}
.user-menu .card h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

@media (max-width:768px){
  aside a {
    font-size: 16px;
  }
  .top-head h1 {
    font-size: 24px;
  }
  .user-menu {
    flex-wrap: wrap;
  }
  .user-detail .current-banlance h3 {
    font-size: 18px;
  }
  .user-menu .card h3{
    font-size: 18px;
  }
}

@media (max-width:576px){
  aside {
    display: none;
    left: -300%;
  }

  aside a {
    font-size: 16px;
  }
  main {
    margin-left: 0px;
  }
  .top-head{
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .top-head h1 {
    font-size: 24px;
  }
  .user-menu {
    flex-wrap: wrap;
  }
  .user-detail .current-banlance h3 {
    font-size: 18px;
  }
  .user-menu .card h3{
    font-size: 18px;
  }
}