/* Site Colors:
  #e03e52 - pink
  #c8ced2 - grey
  #f07b27 - orange
  #786758 - brown
  font-family: 'Roboto', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');

html {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

aside {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #999;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
aside a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: .3s background;
  }
  
aside a:hover {
    background-color: #fff;
    color: #444;
    text-decoration: none;
  }
.active{
    background-color: #fff;
    color: #444;
}
main {
    margin-left: 200px;
}
main .top-head{
    background-color: #999;
    color: 444;
}
main h1 {
    /* background-color: #999; */
    /* padding: 0 10px; */
}
main .user-image{
    width: 50px;
    height: 50px;
}

@media (max-width:768px){
    main {
        margin-left: 0px;
      }
}