@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* navigation style */
.navbar{
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.8);
  }
  .blue-background{
    background-image: url("../images/blue-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  /* .navbar-brand img{
    width: 100%;
    height: auto;
  } */
  .my-nav-link{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2em;
    font-size: 14px;
    padding: 20px 0;
    transition: .3s color, .3s background;
  }
  .active{
    color: rgb(38, 56, 146);
  }
  
  .my-nav-link:hover{
    color: rgb(38, 56, 146);
  }
  
  .nav-link-right{
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: rgb(38, 56, 146);
    padding: 20px 0;
    transition: .3s color;
  }
  .nav-link-right:hover{
    color: #000;
    background-color: #fff;
  }
  
  .toggle-icon{
    color:#000;
    font-size:20px;
  }
  /* END of navigation style */

  /* footer Style */
  footer{
    background-image: url("../images/blue-background.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer-list li, .footer-para{
    font-size: 14px;
  }
  
  @media (max-width:1200px) {
    /* navigation style */
    .my-nav-link{
      font-size: 14px;
      padding: 5px;
    }
    .nav-link-right{
      color: rgb(38, 56, 146);
      font-size: 14px;
      padding: 10px;
      background-color: transparent;
    }
    .toggle-icon{
      font-size:20px;
    }
    /* END of navigation style */

    /* footer */
    .footer-list li, .footer-para{
      font-size: 12px;
    }
  }

  @media (max-width:576px) {
    .navbar-brand {
    max-width: 150px;
    width: 50vw;
    height: auto;
  }
    .footer-list li, .footer-para{
      width: 100%;
    }
}