

.withdraw {
    background-color: #fff;
    width: 100%;
}

.withdraw input, .withdraw select{
    flex-basis: 46%;
}

.spinner-border{
    display: none;
    margin: auto;
}

@media (max-width:786px){
    .withdraw input, .withdraw select{
        flex-basis: 100%;
    }
}