
.user-space .card {
  box-shadow: 0 0 5px #000;
  transition: .3s transform;
}
.user-space .card:hover {
  box-shadow: 0 0 8px #000;
  transform: scale(1.1);
}
.user-space .card button {
  background-color: #eee;
  color: #333;
  border: 1px solid #444;
  outline: none;
}
.user-space .card h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.spinner-border{
  display: none;
  margin: auto;
}

/* style form modal section ------------------------------------------------------------------------------------------------------------ */
.personal-detail-modal{
  /* position: absolute;
  width: 80%;
  top: 0; */
}
.personal-detail{
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
}

.user-passport{
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.input-wrapper{
  flex-basis: 48%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.form-description{
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
.form-value{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .1em;
  border: none;
  background-color: #ccc;
  color: #000;
  font-weight: 700;
}
.form-value:focus{
  border: none;
  outline: none;
}

@media (max-width:786px){
  .input-wrapper{
      flex-basis: 100%;
  }
}


/* style form modal section ------------------------------------------------------------------------------------------------------------ */


@media (max-width:768px){
  .user-space {
    flex-wrap: wrap;
  }
  .user-space .card h3{
    font-size: 18px;
  }
}

@media (max-width:576px){
  .user-space .card h3{
    font-size: 18px;
  }
}